[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pathspec = "*"
tqdm = "*"
colorama = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
coverage = "*"
ipython = "*"
twine = "*"

[requires]
python_version = "3.12"
