[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
pync = "*"
pathspec = "*"
"progressbar2" = "*"

[dev-packages]
twine = "*"
ipython = "*"
coverage = "*"

[requires]
python_version = "3.6"
